// Color
$color-white: #FFFFFF;
$color-black: #000000;
$color-light_black: #2B292D;
$color-strong_gray: #C4C4C4;
$color-light_gray1: #E9E9E9;
$color-light_gray2: #F4F5F7;
$color-gray_blue: #F2F8FA;
$color-strong_blue: #017BFE;
$color-sky_blue: #71AAFF;
$color-brown_yellow: #D9AD5B;
