@import './size';

@mixin mixin-section {
  padding: $size-mobile-section-padding 0;
  @media (min-width: 768px) {
    padding: $size-desktop-section-padding 0;
  }
}

@mixin mixin-section_title {
  margin-bottom: 24px;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 48px;
    font-size: 36px;
    line-height: 38px;
  }
}
